body{
  margin:0;
  font-family:Cairo;
  background:#0f172a;
  color:white;
}

.container{
  max-width:900px;
  margin:auto;
  padding:20px;
}

.header{
  text-align:center;
  margin-bottom:20px;
}

.card-box{
  display:none;
  background:#1e293b;
  padding:20px;
  border-radius:16px;
  box-shadow:0 10px 30px rgba(0,0,0,0.4);
}

.active{
  display:block;
}

input{
  display:block;
  width:100%;
  padding:12px;
  margin:10px 0;
  border:none;
  border-radius:10px;
}

button{
  padding:10px 15px;
  border:none;
  border-radius:10px;
  background:#6366f1;
  color:white;
  cursor:pointer;
  margin:5px;
}

.topbar{
  display:flex;
  justify-content:space-between;
  margin-bottom:15px;
  font-size:18px;
}

.board{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:10px;
}

.card{
  background:#334155;
  padding:20px;
  text-align:center;
  border-radius:12px;
  cursor:pointer;
  transition:0.2s;
}

.card:hover{
  transform:scale(1.05);
  background:#475569;
}

.used{
  opacity:0.3;
  pointer-events:none;
}

.timer{
  text-align:center;
  font-size:24px;
  margin:20px 0;
}

.controls{
  text-align:center;
}
