body{
  margin:0;
  font-family:Cairo;
  background:#0f172a;
  color:#fff;
  text-align:center;
}

.screen{display:none;padding:20px}
.active{display:block}

.board{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:10px;
}

.card{
  background:#1e293b;
  padding:20px;
  border-radius:12px;
  cursor:pointer;
  font-size:18px;
}

.card:hover{
  background:#334155;
}

button{
  padding:10px;
  border:none;
  border-radius:10px;
  cursor:pointer;
  background:#6366f1;
  color:white;
}

.topbar{
  display:flex;
  justify-content:space-between;
}

.timer{
  font-size:18px;
}

img{
  max-width:120px;
  margin:5px;
}
