body{
  margin:0;
  font-family:Cairo;
  background:radial-gradient(circle,#020617,#000);
  color:white;
  text-align:center;
}

.screen{display:none;padding:20px}
.active{display:block}

.title{
  font-size:50px;
  background:linear-gradient(90deg,#38bdf8,#22c55e,#facc15);
  -webkit-background-clip:text;
  color:transparent;
}

button{
  padding:12px 20px;
  margin:10px;
  border:none;
  border-radius:10px;
  background:#22c55e;
  color:white;
  cursor:pointer;
}

#board{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:10px;
}

.card{
  padding:25px;
  background:#1e293b;
  border-radius:12px;
  cursor:pointer;
  transition:.3s;
}

.card:hover{
  transform:scale(1.05);
  box-shadow:0 0 20px #38bdf8;
}

.timer{
  width:120px;
  height:120px;
  border-radius:50%;
  border:5px solid #22c55e;
  display:flex;
  align-items:center;
  justify-content:center;
  margin:20px auto;
  font-size:30px;
}
